{% extends "pages/abstract/default.html.twig" %}

{% block stylesheets_page %}
  <!-- Include input CSS asset bundle -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  {{ assets.css('css/pow-input') | raw }}
{% endblock %}

{% block body_matter %}
  <!--PowTecH's STUFF-->
  <div class="container mt-4">
    <form id="theForm" class="form-horizontal">
      <fieldset>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Matchup *</h3>
              </div>
              <div class="panel-body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                      <select id="team1" name="teamHome" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="1">
                        <option value="">Pick a Team 1...</option>
                        {% for team in teams %}
                          <option value="{{team.abr}}">{{team.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-4">
                      <select id="map" name="map" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="3">
                        <option value="">Pick a Map...</option>
                        {% for map in maps %}
                          <option value="{{map.slug}}">{{map.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-4">
                      <select id="team2" name="teamAway" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="2">
                        <option value="">Pick a Team 2...</option>
                        {% for team in teams %}
                          <option value="{{team.abr}}">{{team.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="col-md-12 mt-2 homeDraftBox">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/dredge.png')}}" class="nPick"/>
                      </div>
                      <div class="col-md-12 mt-2 homeDraftBox">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/evie.png')}}" class="nPick"/>
                      </div>
                      <div class="col-md-12 mt-2 homeDraftBox">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/fernando.png')}}" class="nPick"/>
                      </div>
                      <div class="col-md-12 mt-2 homeDraftBox">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/furia.png')}}" class="nPick"/>
                      </div>
                      <div class="col-md-12 mt-2 homeDraftBox">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/grohk.png')}}" class="nPick"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="col-md-12 mt-2 awayDraftBox">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/grover.png')}}" class="nPicki"/>
                      </div>
                      <div class="col-md-12 mt-2 awayDraftBox">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/imani.png')}}" class="nPicki"/>
                      </div>
                      <div class="col-md-12 mt-2 awayDraftBox">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/inara.png')}}" class="nPicki"/>
                      </div>
                      <div class="col-md-12 mt-2 awayDraftBox">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/khan.png')}}" class="nPicki"/>
                      </div>
                      <div class="col-md-12 mt-2 awayDraftBox">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/buck.png')}}" class="nPicki"/>
                      </div>
                    </div>
                  </div>
                </div><!--end container-->
              </div><!--end body-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Details *</h3>
              </div>
              <div class="panel-body" style="padding: 0px">
                <div class="container" style="padding: 0px">
                  <div class="row">
                    <div class="col-md-3" style="margin-top: 10px">
                      <input type="text" class="form-control" id="pw" name="pw" placeholder="Spectate Password" tabindex="4">
                    </div>
                    <div class="col-md-3">
                      <select id="winner" name="winner" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="17">
                        <option value="">Pick a Winner...</option>
                        <option value="h">Home</option>
                        <option value="a">Away</option>
                      </select>
                    </div>
                    <div class="col-md-3" style="margin-top: 10px">
                      <input type="text" class="form-control" id="score" name="score" placeholder="Score" tabindex="18">
                    </div>
                    <div class="col-md-3">
                      <select id="patch" name="patch" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true">
                        {% for patch in patches %}
                          <option value="{{patch.slug}}">{{patch.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <input type="text" class="form-control" name="playDate" value="{{ "now"|date("m-d-Y") }}" tabindex="31">
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" name="gameId" placeholder="ID">
                    </div>
                    <div class="col-md-3" style="margin-top: 10px">
                      <input type="button" class="btn btn-info btn-raised btn-block reset" value="Reset">
                    </div>
                    <div class="col-md-3" style="margin-top: 10px">
                      <input type="submit" class="btn btn-success btn-raised btn-block" value="Sumbit" tabindex="30">
                      <input type="hidden" id="hiddenGameBans" name="hiddenGameBans" value="">
                      <input type="hidden" id="hiddenGamePicks" name="hiddenGamePicks" value="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <fieldset>
    </form>
  </div>
  <div class="wrap wrap-mountain mt-6">
    <div class="container">
      <h2 class="text-center text-light mb-6 wow fadeInDown animation-delay-5">Material Design is a <strong>new way</strong> to create designs</h2>
      <div class="row">
        <div class="col-lg-6 order-lg-2 mb-4  center-block">
          <img src="{{assets.url('assets://img/demo/mock.png')}}" alt="" class="img-fluid center-block wow zoomIn animation-delay-12 ">
        </div>
        <div class="col-lg-6 order-lg-1 pr-6">
          <p class="wow fadeInLeft animation-delay-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam sint officiis odio tempora natus, sed voluptas facilis ullam suscipit. Ducimus quas, eius ut, dolores mollitia sapiente doloremque aliquid sequi eaque.</p>
          <p class="wow fadeInLeft animation-delay-7">Adipisicing elit. Sapiente porro voluptatem rerum modi quibusdam accusantium nihil facere cupiditate quam! Ipsa.</p>
          <p class="wow fadeInLeft animation-delay-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quasi voluptatem, similique corrupti necessitatibus nihil error, nemo delectus voluptates deserunt ducimus quaerat molestiae labore id repellat exercitationem asperiores neque quibusdam.</p>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-warning btn-raised mr-1 wow flipInX animation-delay-14"><i class="zmdi zmdi-chart-donut"></i> Action here </a>
            <a href="javascript:void(0)" class="btn btn-info btn-raised wow flipInX animation-delay-16"><i class="zmdi zmdi-case"></i> Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



{% block scripts_page %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{assets.url('assets://js/pow-input.js')}}"></script>
{% endblock %}
