{% extends "pages/abstract/default.html.twig" %}

{% block stylesheets_page %}
  <!-- Include input CSS asset bundle -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  {{ assets.css('css/pow-input') | raw }}
{% endblock %}

{% block body_matter %}
  <!-- Modal -->
  <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img src="{{assets.url('assets://img/paladins/champions/default.png')}}" class="selectChampion mb-1" id="0" name="default" width="71"/>
          {% for champion in champions %}
            <img src="{{assets.url('assets://img/paladins/champions/'~champion.slug~'.png')}}" class="selectChampion mb-1" id="{{champion.id}}" name="{{champion.slug}}" width="71"/>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--PowTecH's STUFF-->
  <div class="container mt-4">
    <form id="theForm" class="form-horizontal" method="POST" action="api/input">
      <fieldset>
        {% include "forms/csrf.html.twig" %}
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Matchup *</h3>
              </div>
              <div class="panel-body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 errorBox">
                      <div id="alerts-page"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <select id="team1" name="teamHome" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="3" required>
                        <option value="">Pick a Team 1...</option>
                        {% for team in teams %}
                          <option value="{{team.id}}">{{team.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-4">
                      <select id="map" name="map" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="3" required>
                        <option value="">Pick a Map...</option>
                        {% for map in maps %}
                          <option value="{{map.id}}">{{map.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-4">
                      <select id="team2" name="teamAway" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="2" required>
                        <option value="">Pick a Team 2...</option>
                        {% for team in teams %}
                          <option value="{{team.id}}">{{team.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 banBox">
                      <div class="row stupidRow">
                        <div class="col-xs-3">
                          <div class="mt-2 mr-1 draftBox homeBanBox" id="b0" name="">
                            <img src="{{assets.url('assets://img/paladins/champions/ban/default.png')}}" class="pick"/>
                          </div>
                        </div>
                        <div class="col-xs-3">
                          <div class="mt-2 mr-1 draftBox homeBanBox" id="b2" name="">
                            <img src="{{assets.url('assets://img/paladins/champions/ban/default.png')}}" class="pick"/>
                          </div>
                        </div>
                        <!--
                        <div class="col-xs-3">
                          <div class="mt-2 mr-1 draftBox homeBanBox" id="p0" name="">
                            <img src="{{assets.url('assets://img/paladins/champions/ban/default.png')}}" class="nPick"/>
                          </div>
                        </div>
                        <div class="col-xs-3">
                          <div class="mt-2 draftBox homeBanBox" id="p0" name="">
                            <img src="{{assets.url('assets://img/paladins/champions/ban/default.png')}}" class="nPick"/>
                          </div>
                        </div>
                        -->
                      </div>
                    </div>
                    <div class="col-md-6 banBox">
                      <div class="row stupidRow float-right">
                        <div class="col-xs-3">
                          <div class="mt-2 mr-1 draftBox awayBanBox" id="b1" name="">
                            <img src="{{assets.url('assets://img/paladins/champions/ban/default.png')}}" class="pick"/>
                          </div>
                        </div>
                        <div class="col-xs-3">
                          <div class="mt-2 draftBox awayBanBox" id="b3" name="">
                            <img src="{{assets.url('assets://img/paladins/champions/ban/default.png')}}" class="pick"/>
                          </div>
                        </div>
                        <!--
                        <div class="col-xs-3">
                          <div class="mt-2 mr-1 draftBox awayBanBox" id="p0" name="">
                            <img src="{{assets.url('assets://img/paladins/champions/ban/default.png')}}" class="nPick"/>
                          </div>
                        </div>
                        <div class="col-xs-3">
                          <div class="mt-2 draftBox awayBanBox" id="p0" name="">
                            <img src="{{assets.url('assets://img/paladins/champions/ban/default.png')}}" class="nPick"/>
                          </div>
                        </div>
                        -->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mt-2 draftBox homeDraftBox" id="p0" name="">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/default.png')}}" class="nPick"/>
                        <select id="" name="" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="3" required>
                          <option value="">...</option>
                          {% for player in players %}
                            <option value="{{player.id}}">{{player.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="mt-2 draftBox homeDraftBox" id="p3" name="">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/default.png')}}" class="nPick"/>
                        <select id="" name="" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="3" required>
                          <option value="">...</option>
                          {% for player in players %}
                            <option value="{{player.id}}">{{player.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="mt-2 draftBox homeDraftBox" id="p4" name="">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/default.png')}}" class="nPick"/>
                        <select id="" name="" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="3" required>
                          <option value="">...</option>
                          {% for player in players %}
                            <option value="{{player.id}}">{{player.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="mt-2 draftBox homeDraftBox" id="p7" name="">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/default.png')}}" class="nPick"/>
                        <select id="" name="" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="3" required>
                          <option value="">...</option>
                          {% for player in players %}
                            <option value="{{player.id}}">{{player.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="mt-2 draftBox homeDraftBox" id="p8" name="">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/default.png')}}" class="nPick"/>
                        <select id="" name="" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="3" required>
                          <option value="">...</option>
                          {% for player in players %}
                            <option value="{{player.id}}">{{player.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mt-2 draftBox awayDraftBox" id="p1" name="">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/default.png')}}" class="nPicki"/>
                        <select id="" name="" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="3" required>
                          <option value="">...</option>
                          {% for player in players %}
                            <option value="{{player.id}}">{{player.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="mt-2 draftBox awayDraftBox" id="p2" name="">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/default.png')}}" class="nPicki"/>
                        <select id="" name="" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="3" required>
                          <option value="">...</option>
                          {% for player in players %}
                            <option value="{{player.id}}">{{player.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="mt-2 draftBox awayDraftBox" id="p5" name="">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/default.png')}}" class="nPicki"/>
                        <select id="" name="" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="3" required>
                          <option value="">...</option>
                          {% for player in players %}
                            <option value="{{player.id}}">{{player.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="mt-2 draftBox awayDraftBox" id="p6" name="">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/default.png')}}" class="nPicki"/>
                        <select id="" name="" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="3" required>
                          <option value="">...</option>
                          {% for player in players %}
                            <option value="{{player.id}}">{{player.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="mt-2 draftBox awayDraftBox" id="p9" name="">
                        <img src="{{assets.url('assets://img/paladins/champions/draft/default.png')}}" class="nPicki"/>
                        <select id="" name="" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="3" required>
                          <option value="">...</option>
                          {% for player in players %}
                            <option value="{{player.id}}">{{player.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </div><!--end container-->
              </div><!--end body-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Details *</h3>
              </div>
              <div class="panel-body" style="padding: 0px">
                <div class="container" style="padding: 0px">
                  <div class="row">
                    <div class="col-md-3" style="margin-top: 10px">
                      <input type="text" class="form-control" id="pw" name="pw" placeholder="Spectate Password" tabindex="4">
                    </div>
                    <div class="col-md-3">
                      <select id="winner" name="winner" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="17" required>
                        <option value="">Pick a Winner...</option>
                        <option value="h">Home</option>
                        <option value="a">Away</option>
                      </select>
                    </div>
                    <div class="col-md-3" style="margin-top: 10px">
                      <input type="text" class="form-control" id="score" name="score" placeholder="Score" tabindex="18" required>
                    </div>
                    <div class="col-md-3">
                      <select id="patch" name="patch" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" required>
                        {% for patch in patches %}
                          <option value="{{patch.id}}">{{patch.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3" style="margin-top: 10px">
                      <input type="text" class="form-control" id="playDate" name="playDate" value="{{ "now"|date("m-d-Y") }}" tabindex="31">
                    </div>
                    <div class="col-md-3" style="margin-top: 10px">
                      <input type="text" class="form-control" id="gameId" name="gameId" placeholder="ID">
                    </div>
                    <div class="col-md-3">
                      <select id="matchType" name="matchType" class="form-control selectpicker" data-dropup-auto="false" data-size="4" data-live-search="true" tabindex="17">
                        <option value="1">Scrim</option>
                        <option value="2">Tournament</option>
                        <option value="3">Other</option>
                      </select>
                    </div>
                    <div class="col-md-3 float-right" style="margin-top: 10px">
                      <button type="button" class="btn btn-info btn-raised">Reset</button>
                      <input type="submit" class="btn btn-success btn-raised gameSubmit" value="Submit" tabindex="30">
                      <input type="hidden" id="hiddenGameBans" name="hiddenGameBans" value="">
                      <input type="hidden" id="hiddenGamePicks" name="hiddenGamePicks" value="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <fieldset>
    </form>
  </div>
  <div class="wrap wrap-mountain mt-6">
    <div class="container">
      <h2 class="text-center text-light mb-6 wow fadeInDown animation-delay-5">Material Design is a <strong>new way</strong> to create designs</h2>
      <div class="row">
        <div class="col-lg-6 order-lg-2 mb-4  center-block">
          <img src="{{assets.url('assets://img/demo/mock.png')}}" alt="" class="img-fluid center-block wow zoomIn animation-delay-12 ">
        </div>
        <div class="col-lg-6 order-lg-1 pr-6">
          <p class="wow fadeInLeft animation-delay-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam sint officiis odio tempora natus, sed voluptas facilis ullam suscipit. Ducimus quas, eius ut, dolores mollitia sapiente doloremque aliquid sequi eaque.</p>
          <p class="wow fadeInLeft animation-delay-7">Adipisicing elit. Sapiente porro voluptatem rerum modi quibusdam accusantium nihil facere cupiditate quam! Ipsa.</p>
          <p class="wow fadeInLeft animation-delay-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quasi voluptatem, similique corrupti necessitatibus nihil error, nemo delectus voluptates deserunt ducimus quaerat molestiae labore id repellat exercitationem asperiores neque quibusdam.</p>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-warning btn-raised mr-1 wow flipInX animation-delay-14"><i class="zmdi zmdi-chart-donut"></i> Action here </a>
            <a href="javascript:void(0)" class="btn btn-info btn-raised wow flipInX animation-delay-16"><i class="zmdi zmdi-case"></i> Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



{% block scripts_page %}
  <!--<script src="http://userfrosting.test/assets-raw/vendor/handlebars/dist/handlebars.js"></script>
  <script src="http://userfrosting.test/assets-raw/vendor/jquery-validation/dist/jquery.validate.js"></script>
  <script src="http://userfrosting.test/assets-raw/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
  <script src="http://userfrosting.test/assets-raw/vendor/icheck/icheck.min.js"></script>
  <script src="http://userfrosting.test/assets-raw/vendor/fastclick/lib/fastclick.js"></script>
  <script src="http://userfrosting.test/assets-raw/vendor/select2/dist/js/select2.full.js"></script>
  <script src="http://userfrosting.test/assets-raw/vendor/clipboard/dist/clipboard.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/attrchange.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/AdminLTE.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/AdminLTE-custom.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/fortress-jqueryvalidation-methods.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/uf-jqueryvalidation-config.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/uf-alerts.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/uf-form.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/uf-modal.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/uf-copy.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/uf-init.js"></script>-->

  <!--{{ assets.js('js/main') | raw }}-->
  <!--my main-->
  <!--<script src="http://userfrosting.test/assets-raw/vendor/jquery-validation/dist/jquery.validate.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/fortress-jqueryvalidation-methods.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/uf-jqueryvalidation-config.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/uf-alerts.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/uf-form.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/uf-copy.js"></script>
  <script src="http://userfrosting.test/assets-raw/userfrosting/js/uf-init.js"></script>-->
  <!-- Include validation rules -->
  <script>
  {% include "pages/partials/page.js.twig" %}
  </script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{{assets.url('assets://js/pow-input.js')}}"></script>
{% endblock %}
